<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
    id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <form method="get">
                <div class="nav-item d-flex align-items-center">
                    <button class="btn bg-transparent" type="submit"><i class="bx bx-search fs-4 lh-0"></i></button>
                    <input name="kw" type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                        aria-label="Search..." th:value="${kw != null} ? ${kw} : ''"/>
                    <th:block th:if="${filterStatus != null}">
                        <input type="hidden" name="status" th:value="${filterStatus}" />
                    </th:block>
                </div>
            </form>
        </div>

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item ">
                <form th:action="@{/logout}" method="post">
                    <i class="bx bx-power-off me-2"></i>
                    <input type="submit" value="Logout" class="align-middle btn btn-secondary">
                </form>
            </li>
        </ul>
    </div>
</nav>