<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>Quản lý tài khoản</title>
</head>

<body>

    <div layout:fragment="content">
        <div id="currentPage" th:attr="data-currentPage=${currentPage}"></div>
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="dropdownButton">
            Lọc theo tình trạng
        </button>
        <ul class="dropdown-menu" id="dropdownMenu" style="cursor: pointer;">
            <th:block th:each="s : ${status}">
                <a class="dropdown-item" th:href="@{/admin/accounts(status=${s})}" th:text="${s}"></a>
            </th:block>
        </ul>

        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tài khoản /</span> Quản lý tài khoản</h4>

        <div class="card">
            <h5 class="card-header">Danh sách Tài khoản</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Gmail</th>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <th:block th:each="p : ${accounts}">
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong
                                        th:text="${p.id}"></strong></td>
                                <td th:text="${p.email}"></td>
                                <td th:text="${p.user.lastName}"></td>
                                <td th:text="${p.user.firstName}"></td>
                                <td th:text="${p.status}"></td>
                                <th><a th:href="@{/admin/accounts/{id}(id=${p.id})}">Xem chi tiết</a></th>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <div th:if="${counter > 1}" class="demo-inline-spacing">
                    <!-- Basic Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <th:block th:each="i : ${#numbers.sequence(1, counter)}">
                                <th:block
                                    th:with="pageAction=${'/admin/accounts' + '?page=' + i + (#strings.isEmpty(kw) ? '' : '&kw=' + kw) + (#strings.isEmpty(filterStatus) ? '' : '&status=' + filterStatus)}">
                                    <li class="page-item" th:id="'pageAccounts' + ${i}">
                                        <a class="page-link" th:href="${pageAction}" th:text="${i}"></a>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                    </nav>
                    <!--/ Basic Pagination -->
                </div>
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->

        <script>
            var accountsAdmin = document.getElementById("accounts-admin");
            accountsAdmin.className += " active";
            var curPage = document.getElementById("currentPage").getAttribute("data-currentPage");
            var pageAccounts = document.getElementById(`pageAccounts${curPage}`);
            if (pageAccounts != null) {
                pageAccounts.className += " active";
            }
        </script>
    </div>
</body>

</html>