<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>Pla Web Admin</title>
</head>

<body>

    <div layout:fragment="content">
        <div id="currentPage" th:attr="data-currentPage=${currentPage}"></div>
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Management /</span> Categories</h4>
        <div class="card">
            <h5 class="card-header">Categories</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <th:block th:each="item : ${categories}">
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong
                                        th:text="${item.id}"></strong></td>
                                <td th:text="${item.name}"></td>
                                <th><a type="button" class="btn btn-primary" th:href="@{/admin/categories/{id}(id=${item.id})}">Edit</a></th>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <div th:if="${counter > 1}" class="demo-inline-spacing">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <th:block th:each="i : ${#numbers.sequence(1, counter)}">
                                <th:block
                                    th:with="pageAction=${'/admin/categories' + '?page=' + i + (#strings.isEmpty(kw) ? '' : '&kw=' + kw)}">
                                    <li class="page-item" th:id="'pageCategories' + ${i}">
                                        <a class="page-link" th:href="${pageAction}" th:text="${i}"></a>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <form th:action="@{/admin/categories}" th:object="${category}" method="post" style="display: block;">
            <div th:if="${#fields.hasAnyErrors()}" class="mb-3 pt-5 text-danger">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
            </div>
            <div class="mb-3 pt-5">
                <label class="form-label">Category name</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bxs-book-content"></i></span>
                    <input class="form-control" th:field="*{name}" th:name="name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>

        <script>
            var categories = document.getElementById("categories");
            categories.className += " active";
            var curPage = document.getElementById("currentPage").getAttribute("data-currentPage");
            var pageCategories = document.getElementById(`pageCategories${curPage}`);
            if (pageCategories != null) {
                pageCategories.className += " active";
            }
        </script>
    </div>
</body>

</html>
